<html>
    <head>
        <title>Kirill blog ver1</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Kirill blog</a></h1>
        </div>

        <div>
            <p>published: 17.01.2019, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>You have an opportunity for a healing moment with your spouse or partner right now. You have a chance to find a way to rediscover what made you friends in the first place. If you are single, someone in your circle of friends may know of someone special they would like to introduce you to.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>It’s not hard to tell if a Capricorn is in love with you. Capricorns are not afraid of attachments. On the contrary, they are fully committed and know exactly what they want. Once they’ve set their mind on winning you over, nothing can distract them from it. And their love for rules will make easier for you to understand.</p>
        </div>
    </body>
</html>